{% extends "_base.html" %}

{% block title %}
{{ app_title }}
{% endblock %}

{% block extra_style %}
<style>
    .record {
        cursor: pointer;
        transition: ease 0.5s all;
        width: 100%;
        height: 150px;
        background-image: url('{{ url_for("static", filename="img/mic.png") }}');
        background-position: center;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1000;
        */
    }

    .record:hover {
        transform: scale(1.06, 1.1);
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="p-3 row justify-content-center">

        <div class="col-12 col-sm-10 col-md-8 col-lg-3 text-center border p-4">


            <!-- Choose voice language -->
            <div id="langueage">
                <label for="lang" class="form-label text-left">انتخاب زبان صوت</label>
                <select class="form-select form-select-lg mb-1" name="lang" id="lang">
                    <option value="1" selected>فارسی</option>
                    <option value="2">انگلیسی</option>
                </select>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">ضبط صوت</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        اشتراک فایل صوت
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!-- Direct voice to text -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">

                    <div id="recordSection" class="border p-3 rounded">
                        <!-- State of Recording -->
                        <div id="recordState" class="my-2 border p-3">آماده</div>

                        <!-- <img src='{{ url_for("static", filename="img/mic.png") }}' width="150" height="100"
                            alt="microphone_recording" id="record" title="Record..." class="record text-center"> -->
                        <div alt="microphone_recording" id="record" title="Record..." class="record text-center">
                        </div>

                    </div>

                    <div class="sound-clips mt-1"></div>

                    <!-- Send voice Button -->
                    <button class="btn btn-primary w-100 mt-1 d-none" id="send">ارسال</button>

                </div>

                <!-- File sharing -->
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">

                    <div class="my-3">
                        <input class="form-control" type="file" id="share_voice_file" accept="audio/*"
                            name="sharedVoiceFile">
                        <button class="btn btn-primary w-100 mt-4" id="sendVoiceFile">اشتراک
                            فایل</button>

                    </div>

                </div>

            </div>

        </div>

        <div id="text" class="col-12 col-sm-10 col-md-8 col-lg-3 p-4 fw-bold border text-center">
            <p id="transcribedText"></p>

            <!-- The button used to copy the text -->
            <i class="bi bi-copy d-none" id="copyToClipboard" title="کپی متن"></i>

        </div>

    </div>
</div>
{% endblock %}