{% extends "_base.html" %}

{% block title %}
{{ app_title }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="p-3 row justify-content-center">

        <div class="col-12 col-sm-10 col-md-8 col-lg-4 text-center">


            <!-- Choose voice language -->
            <div id="langueage">
                <label for="lang" class="form-label text-left">انتخاب زبان صوت</label>
                <select class="form-select form-select-lg mb-3" name="lang" id="lang">
                    <option value="1" selected>فارسی</option>
                    <option value="2">انگلیسی</option>
                </select>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">ضبط صوت</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                        type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        اشتراک فایل صوت
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <!-- Direct voice to text -->
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">

                    <div id="recordSection" class="border p-3 rounded">
                        <!-- State of Recording -->
                        <div id="recordState" class="my-2 border p-3">آماده</div>

                        <img src="{{ url_for('static', filename='img/microphone.svg') }}" width="200"
                            alt="microphone_recording" id="record" title="Record..." class="record" />
                        <img src="{{ url_for('static', filename='img/stop.png') }}" width="70" class="record" id="stop"
                            title="Stop" alt="stop Recording" />

                    </div>

                    <div class="sound-clips mt-4"></div>

                    <!-- Send voice Button -->
                    <button class="btn btn-primary w-100 my-4" id="send">ارسال</button>

                </div>

                <!-- File sharing -->
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">

                    <div class="my-3">
                        <input class="form-control" type="file" id="share_voice_file" accept="audio/*"
                            name="sharedVoiceFile">
                        <button class="btn btn-primary w-100 mt-4" id="sendVoiceFile" onclick="uploadFile(this)">اشتراک
                            فایل</button>

                    </div>

                </div>

            </div>

        </div>

        <div id="text" class="mb-5 p-4 fw-bold border text-center shadow">
            <p id="transcribedText">متن تبدیل شده اینجا نمایش داده می شود</p>

            <!-- The button used to copy the text -->
            <i class="bi bi-copy" id="copyToClipboard" title="کپی متن" onclick="copyToClipboard(this)"></i>

        </div>

    </div>
</div>
{% endblock %}